.menu_pagina_sede {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
}

.menu_pagina_sede button {
    flex-grow: 1;
    margin: 10px 10px;
    background-color: #18529d;
    position: relative;
    text-align: center;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}

.carousel {
    width: 60%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    max-height: 60vh;
}

.carousel-container {
    display: inline-block;
    transition: transform 1.5s linear;
}

.carousel img {
    width: 100%;
    height: auto;
    cursor: pointer;
}
#acerca_de{ height: 100vh; background-color: #f7f7f7;}